
<ion-view view-title="斯菲尔云憬">
  <ion-content scroll="false">
    <div class="card list" ng-repeat="dt in vm.datacenters"><a class="item item-icon-right item-divider" href="#/tab">{{dt.model.name}}<i class="icon ion-chevron-right icon-accessory"></i></a><a class="item item-icon-left item-icon-right" ng-repeat="station in dt.stations" href="#/loop-plan/{{vm.project.model.user}}/{{vm.project.model.project}}?station={{station.model.station}}"><i class="icon ion-ios-home"></i>{{::station.model.name}}<i class="icon ion-chevron-right icon-accessory"></i></a></div>
  </ion-content>
</ion-view>