
<ion-header-bar class="bar bar-green bar-header">
  <h1 class="title">巡检</h1><a class="button button-icon icon-right ion-ios-close-empty" ui-sref="tab.overview({user: $root.project.model.user, project: $root.project.model.project})"></a>
</ion-header-bar>
<!--ion-content(scroll='false')-->
<ion-content>
  <div class="list">
    <div class="item item-divider item-icon-right"><span>巡检任务</span><a class="icon icon-right ion-ios-plus-empty"></a></div><a class="item item-event item-icon-left item-icon-right"><img class="event-icon2 icon-left" src="img/icon/routine.svg"/>
      <div class="item-event-name"><span class="item-title3">配电巡检-1128</span>
        <div class="item-time"></div>
      </div>
      <div class="item-event-content"><span class="item-title2">18-12-03</span></div><img class="icon work-icon3 icon-right" src="img/icon/o-0.svg"/></a><a class="item item-event item-icon-left item-icon-right"><img class="event-icon2 icon-left" src="img/icon/routine.svg"/>
      <div class="item-event-name"><span class="item-title3">空调巡检-1126</span>
        <div class="item-time"></div>
      </div>
      <div class="item-event-content"><span class="item-title2">18-12-01</span></div><img class="icon work-icon3 icon-right" src="img/icon/o-0.svg"/></a><a class="item item-event item-icon-left item-icon-right"><img class="event-icon2 icon-left" src="img/icon/temporary.svg"/>
      <div class="item-event-name"><span class="item-title3">机房巡检-T-1128</span>
        <div class="item-time"></div>
      </div>
      <div class="item-event-content"><span class="item-title2">18-11-30</span></div><img class="icon work-icon3 icon-right" src="img/icon/o-1.svg"/></a>
    <div class="item item-divider"><span>当前任务：</span><span>机房巡检-T-1128</span></div>
    <div class="item"><span>设备名：</span><span>空调-03-CoreRoom</span></div>
    <div class="item item-icon-right"><span>温度：</span><span>23 ℃</span><img class="icon icon-right work-icon" src="img/icon/x.svg"/><img class="icon icon-right work-icon2" src="img/icon/hook.svg"/></div>
    <div class="item item-icon-right"><span>湿度：</span><span>52 %RH</span><img class="icon icon-right work-icon" src="img/icon/x.svg"/><img class="icon icon-right work-icon2" src="img/icon/hook.svg"/></div>
    <div class="item item-icon-right"><span>压缩机：</span><span>运行</span><img class="icon icon-right work-icon" src="img/icon/x.svg"/><img class="icon icon-right work-icon2" src="img/icon/hook.svg"/></div>
  </div>
  <div class="padding">
    <button class="button button-block button-green" type="submit">提交</button>
  </div>
</ion-content>