
<ion-header-bar class="bar bar-dark bar-header">
  <h1 class="title">地区</h1>
</ion-header-bar>
<ion-content>
  <div class="card list" ng-repeat="dt in vm.datacenters"><a class="item item-icon-left item-divider"><i class="icon ion-android-globe calm"></i>{{::dt.model.name}}</a><a class="item item-icon-left item-icon-right" ng-repeat="station in dt.stations" ui-sref="tab.signal({user: vm.project.model.user, project: vm.project.model.project, station: station.model.station})"><i class="icon ion-ios-information-empty positive"></i>{{::station.model.name}}<i class="icon ion-chevron-right icon-accessory"></i></a></div>
</ion-content>