
<ion-header-bar class="bar bar-dark bar-header">
  <h1 class="title">扫码</h1>
</ion-header-bar>
<ion-content><br/>
  <button class="button button-full icon-left ion-qr-scanner button-calm" ng-click="vm.scanCode()">扫码</button><br/>
  <h5>{{vm.msg}}</h5>
  <div class="list" ng-if="vm.device">
    <label class="item item-input"><span class="input-label">设备ID</span>
      <input type="text" ng-model="vm.device.id" disabled="disabled"/>
    </label>
    <label class="item item-input"><span class="input-label">设备名称</span>
      <input type="text" ng-model="vm.device.name"/>
    </label>
    <label class="item item-input item-select">
      <div class="input-label">站点</div>
      <select>
        <option>广东</option>
        <!--option(selected) 东莞-->
        <option selected="selected">深圳</option>
      </select>
    </label>
    <div class="item">
      <button class="button button-full icon-left ion-plus button-calm" ng-click="vm.saveEquipment()">添加设备</button>
    </div>
  </div>
</ion-content>