.content
    .cart-item
        .item-title
            span 故障运维概况
        .item-label
            //- span 查看全部
            //- img(src="./img/svg/arrow-right.svg" width="14px" height="14px")
    .cart-content
        .total
            span 故障运维单数
            span {{count}}
        .echarts-content
            .echarts