.box-hexagon
  .pie-item
    .ratio-pie
  .pie-item
    .pie-list.equip-item-list
      .list-text(ng-repeat="state in states")
        .block-color(ng-style="{background: state.color}")
        span {{state.name}}&nbsp;&nbsp;
        span(style="font-size: 16px; font-weight: 700;" ng-style="{color: state.color}") {{state.value}}
