
<ion-popover-view class="tabPop">
  <ion-header-bar>
    <h1 class="title">更多操作</h1>
  </ion-header-bar>
  <ion-content>
    <div class="list"><a class="item item-icon-left item-icon-right" ng-click="vm.goVideo()"><i class="icon ion-ios-videocam-outline"></i>视频监控<i class="icon ion-chevron-right icon-accessory"></i></a><a class="item item-icon-left item-icon-right" ng-click="vm.logout()"><i class="icon ion-log-out"></i>退出当前账号<i class="icon ion-chevron-right icon-accessory"></i></a></div>
  </ion-content>
</ion-popover-view>