
<ion-nav-view>
  <ion-content>
    <div class="row">
      <div class="col col-50">
        <div class="list"><a class="item item-icon-left" href="#"><i class="icon ion-stats-bars positive"></i>
            <h3 class="grey">日发电量</h3>
            <div><span class="value">{{vm.station.stationSignal['day-power-generation'].value}}&nbsp;</span><span class="unit">{{vm.station.unit['day-power-generation-overview']}}</span></div></a><a class="item item-icon-left" href="#"><i class="icon ion-connection-bars positive"></i>
            <h3 class="grey">月发电量</h3>
            <div><span class="value">{{vm.station.stationSignal['month-power-generation'].value}}&nbsp;</span><span class="unit">{{vm.station.unit['month-power-generation-overview']}}</span></div></a><a class="item item-icon-left" href="#"><i class="icon ion-arrow-graph-up-right positive"></i>
            <h3 class="grey">年发电量</h3>
            <div><span class="value">{{vm.station.stationSignal['year-power-generation'].value}}&nbsp;</span><span class="unit">{{vm.station.unit['year-power-generation-overview']}}</span></div></a><a class="item item-icon-left" href="#"><i class="icon ion-pie-graph positive"></i>
            <h3 class="grey">总发电量</h3>
            <div><span class="value">{{vm.station.stationSignal['total-power-generation'].value}}&nbsp;</span><span class="unit">{{vm.station.unit['total-power-generation-overview']}}</span></div></a></div>
      </div>
      <div class="col col-50">
        <div class="list"><a class="item item-icon-left" href="#"><i class="icon ion-social-yen positive"></i>
            <h3 class="grey">累计收益</h3>
            <div><span class="value">{{vm.station.stationSignal['income'].value}}&nbsp;</span><span class="unit">¥</span></div></a><a class="item item-icon-left" href="#"><i class="icon ion-android-cloud-circle positive"></i>
            <h3 class="grey">co2减排</h3>
            <div><span class="value">{{vm.station.stationSignal['co2-reduction'].value}}&nbsp;</span><span class="unit">{{vm.station.unit['co2-reduction']}}</span></div></a><a class="item item-icon-left" href="#"><i class="icon ion-ios-color-filter positive"></i>
            <h3 class="grey">so2减排</h3>
            <div><span class="value">{{vm.station.stationSignal['so2-reduction'].value}}&nbsp;</span><span class="unit">{{vm.station.unit['so2-reduction']}}</span></div></a><a class="item item-icon-left" href="#"><i class="icon ion-android-cart positive"></i>
            <h3 class="grey">节约煤炭</h3>
            <div><span class="value">{{vm.station.stationSignal['saving-standard-coal'].value}}&nbsp;</span><span class="unit">{{vm.station.unit['saving-standard-coal']}}</span></div></a></div>
      </div>
    </div>
    <div class="card margin-top-4">
      <div class="item item-divider">实时功率 (kW)</div>
      <div class="item">
        <power-chart class="power-chart" signals="vm.signalValues" setting="vm.signalSetting" data="vm.signalValue"></power-chart>
      </div>
    </div>
  </ion-content>
</ion-nav-view>