.content
    .cart-item
        .item-title
            span 维保运行情况
        .item-label
            span 查看全部
            img(src="./img/svg/arrow-right.svg" width="14px" height="14px")
    .cart-content
        .echarts.chart
        .chart.center
           .tuglie