ion-header-bar.bar.bar-header.bg-white
  button.button.button-icon.icon.ion-ios-arrow-left(ng-click='vm.onBackPress()')
  h1.title 重置密码
ion-content(scroll='false').has-header
  //p
  //  input.item(type='text' ng-model='vm.oldPsw' placeholder='旧密码')
  //  span(style="color:red" ng-show='vm.oldPsw.$dirty && vm.oldPsw.$invalid')
  //  span(ng-show='vm.oldPsw.$error.required') 旧密码是必须的
  //p
  //  input.item(type='text' ng-model='vm.newPsw' placeholder='新密码')
  //  span(style="color:red" ng-show='vm.newPsw.$dirty && vm.newPsw.$invalid')
  //  span(ng-show='vm.newPsw.$error.required') 新密码是必须的
  //p
  //  input.item(type='text' ng-model='vm.confirmPsw' placeholder='确认密码')
  //  span(style="color:red" ng-show='vm.confirmPsw.$dirty && vm.confirmPsw.$invalid')
  //  span(ng-show='vm.confirmPsw.$error.required') 确认密码是必须的
  hr.hr-clc
  input.item(type='text' ng-model='vm.oldPsw' placeholder='旧密码')
  input.item(type='text' ng-model='vm.newPsw' placeholder='新密码')
  input.item(type='text' ng-model='vm.confirmPsw' placeholder='确认密码')

  .button(ng-click='vm.submitChange()')
    span 修改密码



