.taskworkline .task-vertex {
  text-align: center;
  height: 40px;
  background: #0d2e6e;
  line-height: 2;
  width: 160px;
  margin-left: calc(50% - 80px); }

.taskworkline .node-title {
  font-family: PingFangSC-Regular;
  color: white; }

.taskworkline .node-value {
  color: #10EBF8;
  font-family: PingFangSC-Semibold; }

.taskworkline .node-img {
  position: relative;
  width: 10px;
  border-radius: 50%;
  height: 10px;
  left: calc(100% + 7px);
  top: -14px;
  background: #5CC1F0; }

.taskworkline .node-icon {
  position: relative;
  top: 8px;
  color: #10EBF8;
  cursor: pointer; }

.taskworkline table td {
  font-size: 14px; }
