.content
    .cart-item
        .item-title
            span 总体概况
        .item-label
            //- span 查看全部
            //- img(src="./img/svg/arrow-right.svg" width="14px" height="14px")
    .cart-content
        .total
            span 工单总数
            span {{count}}
        .echarts-content
            .echarts1.echarts
            .echarts2.echarts
