ion-modal-view
  ion-header-bar.bar.bar-header.bar-header-none
    a.button.button-icon.icon-left.ion-ios-close-empty(ui-sref='login()')
    h1.title 请等待


  ion-content
    .padding
      br
      p 亲爱的用户，请等待审核，稍后审核通过后会短信通知，通过后可以继续登录操作。











