
style.
  .bar-order-detail a img {
    width: .8rem;
    margin-top: 5px;
  }
  .bar-order-detail .title {
    font-weight: bold;
  }

ion-header-bar.bar.bar-light.bar-header.bar-order-detail
  a.button.button-icon.icon-left(ng-click="vm.goBack(false)")
    img(src="./img/svg/arrow-left.svg")
  h1.title {{vm.$routeParams.name}}

ion-content
  mobile-order-info(controller="vm" parameters="{orderId: vm.$routeParams.orderId}" ng-if="vm.process != 'wuhan-process'")
  mobile-order-info1(controller="vm" parameters="{orderId: vm.$routeParams.orderId}" ng-if="vm.process == 'wuhan-process'")