ion-header-bar.bar.bar-balanced.bar-header
  //a.button.icon-left.ion-ios-arrow-left.button-clear.button-dark(ng-click='backGo()')
  h1.title(ng-click='vm.openModal()')
    | {{vm.station.model.name}} &nbsp;
    i.icon.ion-android-arrow-dropdown
ion-view(view-title='{{vm.viewTitle}}')
  ion-content
    #player
      .graphic-viewer(tabindex2='0', graphic-player='', options='vm.graphicOptions', template-id='vm.templateId', controller='vm', on-template-load='vm.onTemplateLoad()', on-element-changed='vm.onElementChanged()', parameters='vm.parameters')
      #element-placeholder(ng-show='vm.placeholderMode != "none"', data-activates='placeholder-menu', md-dropdown, data-hover='false', data-beloworigin='true', title2='信息窗口')
        #element-placeholder-popover(style='width:100%; height:100%;', ng-click2='vm.togglePopover($event)', element-popover, data-style='inverse', data-title='{{vm.element.propertyValues.name || vm.element.id}}', element='vm.element', controller='vm', data-trigger='manual', data-placement='auto', data-closeable='true', data-dismissible='false', data-animation='fade', title2='信息展示：在选中项前双击即可弹出信息窗口')
