mobile-order-list .order {
  width: 100%;
  padding: 0 1rem;
  margin-bottom: 0; }

mobile-order-list .center {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }

mobile-order-list .order-item {
  background: #fff;
  border-radius: 1rem;
  margin-top: 1rem;
  padding: 0; }

mobile-order-list .order-title {
  height: 5rem; }

mobile-order-list .order-title i {
  color: #737373; }

mobile-order-list .title {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  color: #101010; }

mobile-order-list .title h6 {
  font-weight: bold;
  height: 20%;
  margin-top: 6px !important; }

mobile-order-list .order-content {
  padding: 0 18px; }

mobile-order-list .content {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%; }

mobile-order-list .content li {
  width: calc(50% - 1rem);
  height: 3.4rem;
  margin-right: 1rem; }

mobile-order-list .content li span:nth-child(1) {
  display: block;
  font-size: 14px;
  color: #A6A6A6; }

mobile-order-list .content li span:nth-child(2) {
  display: block;
  font-size: 16px;
  color: #2F2F2F;
  font-weight: bold;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  word-break: break-all; }

mobile-order-list .handle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 60px; }

mobile-order-list .search-btn {
  width: 90%;
  height: 70%;
  background: #10A957; }

mobile-order-list .order-item-blank {
  height: 10rem;
  line-height: 10rem;
  text-align: center;
  background: #fff;
  border-radius: 1rem;
  margin-top: 1rem;
  padding: 0; }
  mobile-order-list .order-item-blank span {
    color: #9e9e9e; }
